@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	background: black;
	font-family: 'JetBrains Mono', monospace;
}
a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
.bg-gray-900 {
	--tw-bg-opacity: 1;
	background-color: rgba(21, 19, 25, var(--tw-bg-opacity));
}
.hide-cursor {
	cursor: none;
}
